<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Our work</h1>
        <h2>Check out some of our latest projects .</h2>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="/work/sportme"><%= image_tag('sportme.png') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/cineventure"><%= image_tag('cineventure.png') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/ocoffeeshop"><%= image_tag('o_coffeeshop.jpg') %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="/work/coursparticuliers"><%= image_tag('coursparticuliers.png') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/universnetworks"><%= image_tag('univers.jpg') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/bureauspot"><%= image_tag('bureauspot.png') %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="/work/marcheducafe"><%= image_tag('marche.png') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/ocpfinance"><%= image_tag('ocpfinance.png') %></a>
      </div>
      <div class="col-lg-4">
        <a href="/work/businesspanama"><%= image_tag('businesspanama.png') %></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>