<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>We craft the web</h1>
        <h2>Applications. Websites. Ecommerce. Got an idea ?</h2>
        <br>
        <a href="#contacts-form"><button type="button" class="btn btn-accept">Yes, I do</button></a>
        <a href="#mission"><button type="button" class="btn btn-deny">Maybe</button></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="stats-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-2">
        <p>Websites & apps built</p>
        <p><span id="digit">32</span></p>
      </div>
      <div class="col-lg-2">
        <p>Commits made to Git</p>
        <p><span id="digit">323</span></p>
      </div>
      <div class="col-lg-2">
        <p>Lines of code online</p>
        <p><span id="digit">5429</span></p>
      </div>
      <div class="col-lg-2">
        <p>Tech stacks used</p>
        <p><span id="digit">17</span></p>
      </div>
      <div class="col-lg-2">
        <p>Logos sketched</p>
        <p><span id="digit">244</span></p>
      </div>
      <div class="col-lg-2">
        <p>Countries worked with</p>
        <p><span id="digit">11</span></p>
      </div>
    </div>
  </div>
</div>
<a id="mission"></a>
<div class="container-fluid" id="services-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <p><i class="fa fa-slack" aria-hidden="true"></i> Consulting</p>
          <p class="descriptor">Have you read The Lean Startup ? Read it. We use Agile Methodology to accelerate failure, iteration and success of your.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-language" aria-hidden="true"></i> UX & Design</p>
          <p class="descriptor">Design is everything. Wireframes, logos, icons, images and the flow of your project. We create the ideal user experience.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-database" aria-hidden="true"></i> Architecture</p>
          <p class="descriptor">The brain and the engine of the project. We use the latest technologies to increase the edge, the security and the speed.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-connectdevelop" aria-hidden="true"></i> Marketing</p>
          <p class="descriptor">Third party providers can make your digital reach increase 100x. Newsletters, customer service and Instagram make the game.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-area-chart" aria-hidden="true"></i> Analytics</p>
          <p class="descriptor">To optimise we need to learn and measure. We use analytics to see user behavior, acquisition, processing and conversion.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-bitcoin" aria-hidden="true"></i> Monetisation</p>
          <p class="descriptor">Data shows patterns which turn into decisions. Using that we can guide the user through events that lead to monetisation.</p>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="#"><%= image_tag('bureauspot.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('ambicion.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('coursparticuliers.png') %></a>
        
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <a href="#"><%= image_tag('o_coffeeshop.jpg') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('sportme.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('businesspanama.png') %></a>
        
      </div>
    </div>
  </div>
</div>



<div class="container-fluid" id="mission-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>We are a digital innovation agency based in Paris with clients in Europe and Latin America. We focus on product, design and business strategy.</h2>
        <i class="fa fa-star fa-3x" aria-hidden="true" style="margin:0.5em 1em;"> </i>
        <i class="fa fa-star fa-3x" aria-hidden="true" style="margin:0.5em 1em;"> </i>
        <i class="fa fa-star fa-3x" aria-hidden="true" style="margin:0.5em 1em;"> </i>
        <i class="fa fa-star fa-3x" aria-hidden="true" style="margin:0.5em 1em;"> </i>
        <i class="fa fa-star fa-3x" aria-hidden="true" style="margin:0.5em 1em;"> </i>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4 text-center">
        <%= image_tag('tim.png') %>
        <p>"We got in touch over a common passion : coffee. O Coffeeshop just opened their flagship location. Our logo is still that same cool design."</p>
        <h3>Timothee Teyssier</h3>
        <h4>O Coffeeshop</h4>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag('eduardo.png') %>
        <p>"It was a pleasure working with Pardini Co. They took care of everything from the maquettes, to the UX, to the conversion strategy."</p>
        <h3>Eduardo Villalobos</h3>
        <h4>Business Panama</h4>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag('anto.png') %>
        <p>"Cours Particuliers was an ambitious web platform for a world of teachers. Juan conceived that idea down to the very detail."</p>
        <h3>Anthony Teyssier</h3>
        <h4>Les Cours Particuliers</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="blog-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>After a few months out of it, the blog is back...tech, bikes and coffee</li>
          <li>Using CK Editor to improve text editing and blog posting</li>
          <li>Changes in HTML5 selectors are creating havoc in SEO friendly structures</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid" id="tech-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-2">
        <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-2">
        <i class="fa fa-html5 fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-2">
        <i class="fa fa-css3 fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-2">
        <i class="fa fa-github fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-2">
        <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-2">
        <i class="fa fa-google fa-5x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="container-fluid" id="contact-container">
  <div class="container">
    <div class="row text-center">
      <h1>Send us a message</h1>
      <h3>We want to know more about your project (details, features, inspiration)</h3>
    </div>
    <div class="row">
      <%= render 'contacts/form' %>
    </div>
  </div>
</div>
<a id="contacts-form"></a> -->
