<div class="container-fluid" id="work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="#"><%= image_tag('bureauspot.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('cineventure.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('coursparticuliers.png') %></a>
        
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <a href="#"><%= image_tag('sportme.png') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('o_coffeeshop.jpg') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('businesspanama.jpg') %></a>
        
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <a href="#"><%= image_tag('pardinilaw.jpg') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('iviu.jpg') %></a>
        
      </div>
      <div class="col-lg-4">
        <a href="#"><%= image_tag('network.png') %></a>
        
      </div>
    </div>
  </div>
</div>