<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Give your post a title"%>
  </div>
  <div class="field">
    <%= f.text_area :body, :placeholder => "Write about whatever you want", :cols => 20, :rows => 20%>
  </div>
  <div class="actions">
    <%= f.submit 'Go', :class => 'btn-contact' %>
  </div>
<% end %>
